@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
  
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */
   
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
}

.nav div.logo {
    float: left;
    margin-left: 45px;
    background-color: beige;
    border: 2px solid beige;
    border-radius: 50px;
    transition: all;
      transition-duration: 200ms;
      transition-timing-function: ease-in;
      animation-name: shadow;
      box-shadow: 0px 0px 5px 8px rgba(143, 143, 97, 0.774);
      animation: shadow 1.5s infinite;
      transition: transform .7s ease-in-out;
}


.nav div.logo:hover {
        box-shadow: 0px 0px 5px 8px #d5d5d5;
        transform: rotate(360deg);
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #eece2f;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section - Navbar*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #eece2f;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation - Hamburger */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #eece2f;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #11111100;
}
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* Home section */

#hero {
    background: url('/html/img/thumbnail-1.png') no-repeat center center/cover;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }

.hero-content h1 {
    font-size: 8em;
    margin: 0;
  }
  .hero-content h1:hover{
    text-shadow: 5px 0px 5px rgba(26, 72, 164, 0.584),0px 0px 10px white;
  }
/* Media query h1 */
  @media only screen and (min-width: 690px) and (max-width: 1000px) {
    #page-header-bg .span_6 h1, .overlaid-content h1 {
        font-size: 70px !important;
        line-height: 74px !important;
    }
}
  
  .hero-content p {
    font-size: 2em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
 /* button */


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      transition :(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: black;
      border-radius: 1.625rem;
      .icon {
         transition:(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
           transition:(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
       transition:(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: rgb(255, 255, 255);
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: rgb(255, 255, 255);
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: rgb(255, 227, 66);
    }
  }
}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  
/* Footer Section */
.footer-navigation {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  .footer-navigation ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    text-decoration: none;
    list-style-type: none;
  }
  
  .footer-navigation li {
    text-align: center;
    text-decoration: none;
  }
  .footer-navigation li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footer-navigation li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
  }
  
  .footer-navigation a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  .footer-tab a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }
  
  
  .footer-info {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      align-items: center;
      background-color: #000;
      color: #fff;
      padding: 21px 10px 21px 10px;
      font-size: 12px;
    }
  
  
  
  /*DESKTOP SIZING FOOTER */
  @media only screen and (min-width: 1000px) {
    .footer-navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100px;
  }
    
    .footer-socialmedia {
      margin-top: 0px;
  }
    
    .footer-socialmedia a {
      padding: 0;
    } 
    
   .footer-brand {
      order: -1;
      font-size: 1.3em;
      margin-right: auto;
  }
    
    footer ul li {
    padding: 0;
  }
    .footer-info div {
      text-align: center;
  }
  
    .footer-info {
      padding: 21px 10px 21px 10px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .footer-tab {
      display: none;
    }
    ul {
      grid-auto-flow: column;
    }
  }

  @media only screen and (min-width: 300px) {
    .footer-navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100px;
  }
    
    .footer-socialmedia {
      margin-top: 0px;
  }
    
    .footer-socialmedia a {
      padding: 0;
    } 
    
   .footer-brand {
      order: -1;
      font-size: 1.3em;
      margin-right: auto;
  }
    
    footer ul li {
    padding: 0;
  }
    .footer-info div {
      text-align: center;
  }
  
    .footer-info {
      padding: 21px 10px 21px 10px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .footer-tab {
      display: none;
    }
    ul {
      grid-auto-flow: column;
    }
  }
  
  
    
  
